{% extends "layout.html" %}

{% block style %}{% endblock %}
{% block title %} About {% endblock %}

{% block description %}<p style="font-size:12px" class=center>(Thanks for viewing!)</p>{% endblock %}

{% block content %}
	<p class=center>
		This is made to try to showcase things and their dates in easy-to-look-at ways. It was made as a class project. 
		<br></br>
		If you sign in & login (via "create"), you can create new topics for timelines, and create new artifacts to populate those timelines.
		<br></br>
		Hope you like it :) Any questions or thoughts, email thymelimne@gmail.com.
	</p>
{% endblock %}
